<%= breadcrumbs(
  { name: "Home", path: root_path },
  { name: "Categories", path: products_path },
  { name: @category.name, path: category_path(@category) }
) %>

<h1><%= @category.name %></h1>
<p><%= @category.description %></p>

<% if @products.any? %>
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
<% else %>
  <p>No products in this category.</p>
<% end %>

<%= link_to "All Products", products_path %>